/* Global Stylies */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "frank-R";
  src: url("/Fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: "frank-M";
  src: url("/Fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: "vibes";
  src: url("/Fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1: calc(3rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --greay-text: #525252;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

li,
button,
label,
input,
p,
a {
  font-size: var(--text);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "frank-R", sans-serif;
  animation: opening 1s ease-in-out;
}

h1 {
  font-family: "vibes", sans-serif;
}

/* Nav */

#main-head {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 2;
  position: sticky;
  top: 0;
  background: white;
}

nav {
  display: flex;
  min-height: 10vh;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2rem 0rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

nav h1 {
  flex: 1 1 20rem;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero-intro {
  flex: 1.7 1 40rem;
  text-align: center;
}

.hero-intro p {
  padding: 5rem;
  color: var(--greay-text);
}

.hero-intro h2 {
  padding-top: 3rem;
}

.hero-intro a {
  padding: 2rem 8rem;
  border: 3px solid black;
  margin-bottom: 2.5rem;
}

.hero-images {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: 1;
}

.hero-elena {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  animation: plant-opening 1.5s ease-in-out,
    plant-rotate 2.5s infinite ease alternate-reverse 2s;
  transform-origin: bottom;
  max-height: 80%;
}

.plant2 {
  left: 40%;
}

/* Animations */

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-opening {
  from {
    transform: translateY(-10%) rotateY(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateY(0deg) rotateX(0deg);
  }
}

@keyframes plant-rotate {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

/* About Section  */

#about {
  display: flex;
  flex-wrap: wrap;
}

.about-image {
  flex: 1 1 40rem;
  position: relative;
}

.about-image h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 20%);
  letter-spacing: 2rem;
}

.about-text {
  flex: 1 1 40rem;
  background: var(--background-color);
  color: white;
  justify-content: space-around;
}

.about-text div {
  padding: 3rem 10rem;
}

.about-text h4 {
  text-decoration: underline;
}

.about-text h1 {
  padding: 3rem;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gallery */

#gallery {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.gallery__1 {
  grid-column: 1/3;
}

.gallery__2 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.gallery__3 {
  grid-column: 1/2;
}

.gallery__4 {
  grid-column: 2/3;
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 5rem 10rem;
  text-align: center;
}

/* Contact */

#contact {
  max-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.form-wrap {
  flex: 3 1 40rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

.form-wrap span {
  color: var(--special-color);
  font-size: 8rem;
}

.form-wrap h2 {
  margin: 5rem 0rem;
}

.form-wrap label {
  display: block;
}

.form-wrap input {
  display: block;
  margin: 3rem 0rem;
  background: var(--background-color);
  color: white;
  padding: 1rem 0.5rem;
  border: none;
}

.form-wrap button {
  width: 100%;
  padding: 1rem 0.5rem;
  background: var(--special-color);
  color: white;
  border: none;
}

#contact img {
  flex: 1 1 40rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer  */

footer {
  min-height: 10vh;
  background: var(--background-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
  color: white;
}

footer h5 {
  font-size: 3rem;
}

footer a {
  color: rgb(221, 186, 186);
}

/* Media Quary */

@media screen and (max-width: 1041px) {
  #contact img {
    display: none;
  }
}


@media screen and (max-width: 841px) {
  .nav-links {
    position: fixed;
    background:#414141;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3rem;
    pointer-events: none;
    clip-path:circle(0rem at 93% 5%);
    transition: all 0.8s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    opacity: 0;
  }

  
  .nav-links.burger-link {
    clip-path:circle(90rem at 60% 28%);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    pointer-events: all;
    opacity: 1;
  }
  
 

  .nav-links li a:hover {
    padding-left: 3.5rem;
    border-left: 0.35rem solid white;
    transition: all 0.5s ease;
  }

  .hamburger {
    z-index: 2;
    width: 4rem;
    height: 3.5rem;
    cursor: pointer;
    position: sticky;
  }

  .bar {
    width: 100%;
    background-color: black;
    height: 0.5rem;
    margin: 0.4rem 0rem;
    border-radius: 0.5rem;
  }


  #nav-link li a {
    color: white;
    font-weight: bold;
    letter-spacing: 0.3vw;
    font-size: 3rem;
  }

  .hero-intro p {
    padding: 5rem 3rem;
  }

  .hero {
    width: 100%;
  }

  .about-text div {
    padding: 3rem 3rem;
    text-align: center;
  }

  #gallery img {
    grid-row: auto;
    grid-column: auto;
  }

  #gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .gallery__text {
    display: none;
  }

  
}
